.nav
{
    float: left;
    margin-left: -15px;
    font-size: 16px;
}

.nav__item
{
    display: inline-block;
    padding: 15px;
    line-height: 20px;
    color: #999;
    text-decoration: none;
}

.nav__item:hover {
    color: #fff;
}

.nav__item_active {
    background: #333;
    color: #fff;
}
